<% provide :title, t(".add") %>
<h1><%= t ".add" %></h1>
<%= render "layouts/menu" %>
<div class="row">
  <div class="col-md-9">
    <%= form_for @question, html: {multipart: true} do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.label :category_id %>
      <br>
      <%= f.select :category_id, Category.all.map{|c| [c.name, c.id]},
        include_blank: t(".chose"), selected: t(".chose") %>
      <br><br>

      <%= f.label :content %>
      <%= f.text_field :content, class: "form-control" %> 
      
      <%= f.submit t(".add"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
