<h1><%= t ".choose_lession" %></h1>
<div class="cssmenu">
  <ul>
    <li class="active">
      <%= link_to "#" do %>
        <span><%= t ".all_category" %></span>
      <% end %>
    </li>
    <% @categories.each do |category| %>
      <li class="has-sub">
        <%= link_to "#" do %>
          <span><%= category.name %></span>
        <% end %>
        <ul>
          <% category.courses.each do |course| %>
            <li class="has-sub">
              <%= link_to "#" do %>
                <span><%= course.name %></span>
              <% end %>
              <ul>
                <% course.lessions.each do |lession| %>
                  <li>
                    <%= link_to "lession_logs/#{lession.id}",
                      method: :post do %>
                      <span><%= lession.name %></span>
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>
<div style="clear:both"></div>
