<center>
  <div class="btn-group">
    <%= link_to t(".all_word"), listword_path, class: "btn btn-primary" %>
    <%= link_to t(".learned"), "#", class: "btn btn-primary" %>
    <%= link_to t(".unlearned"), "#", class: "btn btn-primary" %>
    <%= link_to t(".alphabet"), listwordalphabet_path,
    class: "btn btn-primary" %>
    <div class="btn-group">
      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <%= t ".category" %><span class="caret"></span></button>
      <ul class="dropdown-menu" role="menu">
        <% Category.all.each do |c| %>
          <li><%= link_to "#{c.name}", "/listwordcategory/#{c.id}" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</center>
