<% if logged_in? %>
  <div class="dropdown" >
    <button class="btn btn-primary dropdown-toggle"
      type="button" data-toggle="dropdown">
      <%= t ".start" %>
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <% @categories.each do |cate| %>
        <% next if cate.courses.size.zero? %>
        <li class="dropdown-submenu">
          <a class="menu-start" tabindex="-1">
            <%= cate.name %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <% @courses.select{|c| c.id.in? cate.courses.ids}.each do |c| %>
              <% next if c.lessons.size.zero? %>
              <li class="dropdown-submenu">
                <a class="menu-start" tabindex="-1">
                  <%= c.name %>
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <% c.lessons.each do |l| %>
                    <li>
                      <%= link_to l.name, "lesson_logs/#{l.id}",
                        method: :post %>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </li>
      <% end %>
    </ul>
  </div>
  <div>
    <%= render "users/activities"%>
  </div>
  <%= paginate @lesson_logs, theme: "twitter-bootstrap-3" %>
<% else %>
  <%= render "unlogged_in" %>
<% end %>
<div class="clear"></div>
