<div class="activities">
  <ul>

    <% (Settings.number.zero...@lessions.count).each do |i| %>
      <li>
        <span class="lession">
          <%= link_to "Lession: #{@lessions[i]}",
            @lession_logs[i] %>
        </span>
        <span class="created">
          <%= t ".created" %>
          <%= @lession_logs[i].created_at.strftime Settings.time.format %>
        </span>

        <% if @lession_logs[i].pass %>
          <span class="result true">
            <%= t ".pass" %>
          </span>
        <% else %>
          <span class="result false">
            <%= t ".failed" %> 
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
