<div class="activities">
  <ul>
    <% (Settings.number.zero...@lessons.count).each do |i| %>
      <li>
        <span class="lesson">
          <% if current_user? @user %>
            <%= link_to "Lesson: #{@lessons[i]}",
              @lesson_logs[i] %>
          <% else %>
            <span><%= t ".name" %><%= @lessons[i] %></span>
          <% end %>
        </span>
        <span>
          <%= t ".duration" %>  
          <%= Time.at(Settings.max_time).utc.strftime Settings.time.format1 %>
        </span>
        <span class="created">
          <% time1 = @lesson_logs[i].updated_at.to_i %>
          <% time2 = @lesson_logs[i].spend_time %>
          <% time = time1 - time2 %>
          <% if time > Settings.max_time %>
            <% time = Settings.max_time %>
          <% end %>
          <%= t ".spend" %>
          <%= Time.at(time).utc.strftime Settings.time.format1 %>
        </span>
        <% if @lesson_logs[i].pass.nil? %>
          <span class="result unfinished">
            <%= t ".unfinished" %>
        <% elsif @lesson_logs[i].pass %>
          <span><%= @results[i] %></span>
          <span class="result true">
            <%= t ".pass" %>
          </span>
        <% else %>
          <span><%= @results[i] %></span>
          <span class="result false">
            <%= t ".failed" %> 
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
