<table class="table table-hover">
  <tr>
    <th><%= t ".last_change" %></th>
    <th><%= t ".lesson" %></th>
    <th><%= t ".duration" %></th>
    <th><%= t ".spent_time" %></th>
    <th><%= t ".score" %></th>
    <th><%= t ".result" %></th>
  </tr>
  <% i = Settings.number.zero %>
  <% @lesson_logs.each do |ll| %>
    <% status = get_status ll %>
    <tr class="<%= status.second %>">
      <td><%= ll.updated_at.strftime Settings.time.format %></td>
      <% if current_user? current_user %>
        <td><%= link_to ll.lesson.name, status_lesson_log(ll) %></td>
      <% else %>
        <td><%= ll.lesson.name %></td>
      <% end %>
      <td><%= Settings.max_time %> <%= t ".minutes" %></td>
      <td><%= Time.at(ll.updated_at - ll.created_at).
        strftime Settings.time.format %></td>
      <td><%= @results[i] %></td>
      <td><%= status.first %></td>
    </tr>
  <% i += Settings.number.one %>
  <% end %>
</table>
