<table class="table table-hover">
  <tr>
    <th><%= t ".last_change" %></th>
    <th><%= t ".lesson" %></th>
    <th><%= t ".duration" %></th>
    <th><%= t ".spent_time" %></th>
    <th><%= t ".score" %></th>
    <th><%= t ".result" %></th>
  </tr>
  <% i = Settings.number.zero %>
  <% @lesson_logs.each do |ql| %>
    <% status = get_status(ql) %>
    <tr class="<%= status.second %>">
      <td><%= ql.created_at.strftime Settings.time.format %></td>
      <% if current_user? current_user %>
        <td><%= link_to ql.lesson.name, url_for(ql) %></td>
      <% else %>
        <td><%= ql.lesson.name %></td>
      <% end %>
      <td><%= Settings.max_time %> m</td>
      <td><%= Time.at(ql.updated_at - ql.created_at).
        strftime Settings.time.format %></td>
      <td><%= @results[i] %></td>
      <td><%= status.first %></td>
    </tr>
  <% i += Settings.number.one %>
  <% end %>
</table>
