<div class="activities">
  <ul>

    <% (Settings.number.zero...@lessions.count).each do |i| %>
      <li>
        <span class="lession">
          <% if current_user? @user %>
            <%= link_to "Lession: #{@lessions[i]}",
              @lession_logs[i] %>
          <% else %>
            <span><%= t ".name" %><%= @lessions[i] %></span>
          <% end %>
        </span>
        <span class="created">
          <%= t ".last_change" %>
          <%= @lession_logs[i].updated_at.strftime Settings.time.format %>
        </span>
        <% if  @lession_logs[i].pass.nil? %>
          <span class="result unfinished">
            <%= t ".unfinished" %>
        <% elsif @lession_logs[i].pass %>
          <span><%= @results[i] %></span>
          <span class="result true">
            <%= t ".pass" %>
          </span>
        <% else %>
          <span><%= @results[i] %></span>
          <span class="result false">
            <%= t ".failed" %> 
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
