<% provide :title, @user.name %>
<div class="row margin-top-100">
  <aside class="col-md-4">
    <section class="user_info">
      <% unless @user.avatar.present? %>
        <%= image_tag "default-avatar.jpg", class: "img-size-large",
          alt: t(".avatar") %>
      <% else %>
        <%= image_tag @user.avatar.url, class: "img-size-large",
              alt: t(".avatar") %>
      <% end %>
      </br>
      <ul>
        <li><%= t ".name" %><%= @user.name %></li>
        <li><%= t ".email" %><%= @user.email %></li>
      <ul>
    </section>
    <%= link_to t(".edit"), edit_path, class: "btn btn-primary" %>
  </aside>
  <%= render "activities" %>
</div>
