<fieldset disabled>
  <% i = Settings.number.zero %>
  <% j = Settings.number.zero %>

  <% @questions.each do |q| %>
    <% next if q.answers.size < Settings.number.two || @types[i].zero? %>
    <div>
      <b><%= i + Settings.number.one %>. <%= q.content %></b>
      <% answer = @corrects.slice! Settings.number.zero...@types[i] %>
      <% if @types[i] == Settings.number.one %>
        <% unless @question_logs.select{|ql|
          ql.answer_id == answer.first.id}.first.number.zero? %>
          <span class="result correct">correct</span>
        <% else %>
          <span class="result uncorrect">uncorrect</span>
        <% end %>
        <% q.answers.size.times do %>
          <% ql = @question_logs[j] %>
          <li class="answer">
            <%= radio_button_tag nil, nil,
              (if ql.number == Settings.number.one
                true
              else
                false
              end), {class: "update-result"} %>
            <%= label_tag nil, ql.answer.content,
              {class: if ql.answer.correct
                        "bold-style"
                      end} %>
            <% j += Settings.number.one %>
          </li>
        <% end %>
      <% else %>
      <% flag = true %>
        <% answer.each do |a| 
          next unless @question_logs.select{|ql|
          ql.answer_id == a.id}.first.number.zero?
          flag = false
          break 
        end %>
        <% if flag %>
          <span class="result correct">correct</span>
        <% else %>
          <span class="result uncorrect">uncorrect</span>
        <% end %>
        <% q.answers.size.times do %>
          <% ql = @question_logs[j] %>
          <li class="answer">
            <%= check_box_tag ql.id, ql.id,
              (if ql.number == Settings.number.one
                true
              else
                false
              end), {class: "update-result"} %>
            <%= label_tag nil, ql.answer.content,
              {class: if ql.answer.correct
                        "bold-style"
                      end} %>
            <% j += Settings.number.one %>
          </li>
        <% end %>
      <% end %>
      <% i += Settings.number.one %>
    </div>
    <br/>
  <% end %>
</fieldset> 
