<div class="container margin-top-100">
  <% if @lesson_log.pass.nil? %>
    <input id="created_at" name="<%= @lesson_log.created_at %>" 
      value="<%= @lesson_log.created_at %>" type="hidden" />
    <input id="id_lessonlog"
      value="<%= @lesson_log.id %>" type="hidden" />
    <input id="updated_at" 
      value="<%= @lesson_log.updated_at %>" type="hidden" />
    <input id="saved" 
      value="<%= @lesson_log.saved %>" type="hidden" />
    <center>
      <div id="clockdiv" class="clockdiv">
        <div>
          <span class="days"></span>
          <div class="smalltext">
            <%= t ".day" %>
          </div>
        </div>
        <div>
          <span class="hours"></span>
          <div class="smalltext">
            <%= t ".hours" %>
          </div>
        </div>
        <div>
          <span class="minutes"></span>
          <div class="smalltext">
            <%= t ".minute" %>
          </div>
        </div>
        <div>
          <span class="seconds"></span>
          <div class="smalltext">
            <%= t ".second" %>
          </div>
        </div>
      </div>
    </center>
  <% end %>
  <fieldset disabled>
    <%= render "form_lesson_log" %>
  </fieldset>
</div>
