<% provide :title, t(".all") %>
<h1><%= t ".all" %></h1>
<%= render "layouts/menu" %>
<div class="row">
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr class="success">
          <th><%= t ".question" %></th>
          <th><%= t ".content" %></th>
          <th><%= t ".correct" %></th>
          <th><%= t ".edit" %></th>
          <th><%= t ".delete" %></th>
        </tr>
      </thead>
      <tbody> 
        <% @answers.each do |answer| %>
          <% if answer.id != Settings.question.answer_default %>
            <tr class="info">
              <td><%= answer.question.content %></td>
              <td><%= answer.content %></td>
              <td><%= answer.correct %></td>
              <td>
                <%= link_to t(".edit"), edit_answer_path(answer) %>
              </td>
              <td>
                <%= link_to t(".delete"), answer,
                  method: :delete, data: {confirm: t(".sure")} %>
              </td>
            </tr>
          <% end %>
        <% end %>  
      </tbody>
    </table>
    <%= paginate @answers, theme: "twitter-bootstrap-3" %>
  </div>
</div>
