<% provide :title, t(".all") %>
<h1><%= t ".all" %></h1>
<%= render "layouts/menu" %>
<div class="row">
  <div class="col-md-8">
    <table class="table">
      <thead>
        <tr class="success">
          <th><%= t ".category" %></th>
          <th><%= t ".name" %></th>
          <th><%= t ".description" %></th>
          <th><%= t ".image" %></th>
          <th><%= t ".edit" %></th>
          <th><%= t ".delete" %></th>
        </tr>
      </thead>
      <tbody> 
        <% @courses.each do |course| %>
          <tr class="info">
            <td><%= course.category.name %></td>
            <td><%= course.name %></td>
            <td><%= course.description %></td>
            <td>
              <%= image_tag course.image.url if course.image? %>
            </td>
            <td><%= link_to t(".edit"), edit_course_path(course) %></td>
            <td>
              <%= link_to t(".delete"), course,
                method: :delete, data: { confirm: t(".sure") } %>
            </td>
          </tr>
        <% end %>  
      </tbody>
    </table>
    <%= paginate @courses, theme: "twitter-bootstrap-3" %>
  </div>
</div>
