<%= link_to t(".add"), new_category_path,
  class: "btn btn-primary" %>
<table>
  <tr>
    <th><%= t ".name" %></th>
    <th><%= t ".description" %></th>
    <th class="index_column"><%= t "edit" %></th>
    <th class="index_column"><%= t "remove" %></th>
    <th class="restore_column"><%= t "restore" %></th>
    <th class="restore_column"><%= t "delete" %></th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= category.description %></td>
      <td class="index_column">
        <%= link_to t("edit"), edit_category_path(category) %>
      </td>
      <td class="index_column">
        <%= render "layouts/actions_destroy", id: category.id,
          act: t("remove") %>
      </td>
      <td class="restore_column">
        <%= render "layouts/actions_destroy", id: category.id,
          act: t("restore") %>
      </td>
      <td class="restore_column">
        <%= render "layouts/actions_destroy", id: category.id,
          act: t("delete") %>
      </td>
    </tr>
  <% end %>
</table>
<%= paginate @categories, theme: "twitter-bootstrap-3" %>
