<% provide :title, t(".add") %>
<h1><%= t(".add") %></h1>
<%= render "layouts/menu" %>
<div class="row">
  <div class="col-md-9">
    <%= form_for(@category) do |f| %>
      <%= render "shared/error_messages", object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.label :description %>
      <%= f.text_field :description, class: "form-control" %> 

      <%= f.submit t(".add"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
