<div class="header">
  <div class="max">
    <%= link_to "E-learning", root_path, class: "logo" %>
    <div class="header-right">
      <%= link_to t("home"), root_path,
        class: active(root_path) %>
      <% if logged_in? %>
        <% if current_user.admin %>
          <%= link_to t("manage"), admin_path,
            class: active(admin_path) %>
        <% else %>
          <%= link_to t(".wordlist"), listword_path,
            class: active(listword_path) %>
        <% end %>
        <%= link_to t("user_list"), users_path,
          class: active(users_path) %>
        <li class="dropdown">
          <%= link_to "#",
            class: "dropdown-toggle", data: {toggle: "dropdown"} do %>
            <span><%= current_user.name %></span>
            <b class="caret"></b>
          <% end %>
          <ul class="dropdown-menu">
            <li><%= link_to t("profile"), profile_path %></li>
            <li><%= link_to t("setting"), edit_path %></li> 
            <li class="divider"></li>
            <li>
              <%= link_to t("logout"), logout_path, method: :delete %>
            </li>
          </ul>
        </li>
      <% else %>
        <%= link_to t("signup"), signup_path,
          class: active(signup_path) %>
        <%= link_to t("login"), login_path,
          class: active(login_path) %>
      <% end %>
    </div>
  </div>
  <div class="clear"></div>
</div>
