<div class="col-md-4">
  <center>
    <div class="vertical-menu manage-menu">
      <%= link_to t(".users"), admin_path %>
      <%= link_to t(".categories"), categories_path %>
      <%= link_to t(".courses"), courses_path %>
      <%= link_to t(".lessons"), lessons_path %>
      <%= link_to t(".questions"), questions_path %>
    </div>
  </center>
</div>
